* {
    box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

@media only screen and (min-width: 300px) {
    .col-s-1 {width: 10%;}
    .col-s-2 {width: 20%;}
    .col-s-3 {width: 30%;}
    .col-s-4 {width: 40%;}
    .col-s-5 {width: 50%;}
    .col-s-6 {width: 60%;}
    .col-s-7 {width: 70%;}
    .col-s-8 {width: 80%;}
    .col-s-9 {width: 90%;}
    .col-s-10 {width: 100%;}

 body{
      background-color:pink;
      color:black;
      font-size:10px;
  }
  .header{
      background-color:skyblue;
      padding:1px;
  }
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 10%;}
  .col-s-2 {width: 20%;}
  .col-s-3 {width: 30%;}
  .col-s-4 {width: 40%;}
  .col-s-5 {width: 50%;}
  .col-s-6 {width: 60%;}
  .col-s-7 {width: 70%;}
  .col-s-8 {width: 80%;}
  .col-s-9 {width: 90%;}
  .col-s-10 {width: 100%;}
  body{
      background-color:green;
      color:black;
      font-size:15px;
  }
  .header{
      background-color:salmon;
  }
}

@media only screen and (min-width: 768px) {

    .col-1 {width: 10%;}
    .col-2 {width: 20%;}
    .col-3 {width: 30%;}
    .col-4 {width: 40%;}
    .col-5 {width: 50%;}
    .col-6 {width: 60%;}
    .col-7 {width: 70%;}
    .col-8 {width: 80%;}
    .col-9 {width: 90%;}
    .col-10 {width: 100%;}

    body{
        background-color:black;
        color:white;
        font-size:20px;
    }
    .header{
        background-color:rgb(75, 74, 74);
    }
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.header{
    border:1px solid grey;
    border-radius:5px;
    padding:3px;
    text-align:center;
}

.setaside{
    border:1px solid grey;
    padding:10px;
    border-radius:5px;
}


#menulist #menuitem{
    border:1px solid grey;
    list-style:none;
    
    
    border-radius:5px;
    padding:10px;
    margin-bottom:5px;
    margin-left:-20px;
    text-align:center;
}

#menulist #menuitem:hover{
    color:grey;
    cursor:pointer;
    text-decoration-line : none;
}

#video{
  width:100%;
  height: 420px;
}
